// Bootstrap container fix
.navbar {
	position:static !important;
	margin-bottom:20px !important;
}

// List of Cards
.card {
	position:relative;
}
.activitylist {
	.activity {
	
	}
}

// General text element styling
.username {

}
.profilepic {
	
}

.assetvisual {

}