.card {
	/** CATEGORY VIEW: Shown on the Dashboard of the service, NOT in a Board View **/
	&.topicview {
		display:inline-block;
		$categorycard-padding:4px;
		$categoryviewcard-width:230px;
		$categoryviewcard-height:235px;
		width:$categoryviewcard-width;
		height:$categoryviewcard-height;
		background-color:red;
		// Title of the Card
		.title {
	
		}

		// Visual of the Card, it'll be a thumbnail in this view context
		.assetvisual {
			width:$categoryviewcard-width - ($categorycard-padding*2);
			height:136px;
			img {
				width:100%;
			}
		}

		// Activities/events that have happened on the Card
		.activities {

			// Text description of what has happened
			.summary {
			
			}

			// The users who have done those activities
			.users {
				.profilepic {
				
				}
			}

			// Time of the last activitiy
			.lastactivity {
			
			}
		}
	}

	/** SUMMARY VIEW: Shown in a Board View **/
	&.summaryview {
		$summaryviewcard-width:260px;
		$summaryviewcard-height:auto;
		width:$summaryviewcard-width;
		height:$summaryviewcard-height;
		background-color:green;
		// Added by Information
		.addedby {
			.username {
		
			}
		}

		.assetvisual {
			border:2px solid grey;
		}

		// Description of the card
		.description {
		}

		// Action Menu that comes down when you hover over the Card
		.actions {
			$actionpanel-height:60px;
			background-color:rgba(0,0,0,0.5);
			height:$actionpanel-height;
			padding:10px;
			text-align:center;
			position:absolute;
			top:0;
			left:0;
			overflow:hidden;
			width:-webkit-calc(100% - 20px);
			.action {
				width:22%;
				height:100%;
				display:inline-block;
				background-color:rgba(0,0,0,0.7);
				margin:0px 2px 0px 2px;
				vertical-align:middle;
				span {
					color:#ffffff;
					font-size:11px;
					
				}
				&.comment {
			
				}
				&.like {
			
				}
				&.share {
			
				}
				&.annotate {
			
				}
			}
		}

		// The comment thread that shows under the card's main pieces
		.comments {
			.comment {
				.profilepic {

				}
				.body {
				
				}
				.username {
				
				}
			}
		}

		// Info that displays under the 'Added by' details
		.assetinfo {
			.infoitem {
				.icon {
			
				}
				.count {
			
				}

				&.like {
					.icon {
				
					}
				}
			
				&.comments {
					.icon {
				
					}
				}
			}
		}
	}

	&.fullview {
		$fullviewcard-width:920px;
		$fullviewcard-minheight:790px;
		width:$fullviewcard-width;
		min-height:$fullviewcard-minheight;
		background-color:blue;
		// Added by Information
		.addedby {
			.username {
		
			}
			.profilepic {
		
			}
		}

		// Title of the Card
		.title {
	
		}

		// Action Menu that comes down when you hover over the Card
		.actions {
			.action {
				&.comment {
			
				}
				&.like {
			
				}
				&.share {
			
				}
				&.annotate {
			
				}
			}
		}

		// Visual of the Card, it'll be a thumbnail in this view context
		.assetvisual {
			&.annotation {
				// Annotation's Profile Pic
				.profilepic {
				
				}

				// Annontation's Body Text
				.body {
				
				}
				// Visual tie-in to the asset
				.pin {
				
				}

				// Any associated comments to that Annotation
				.comments {
					// Title piece of the "comments" block in the Annotation block
					.header {
					
					}
					.profilepic {
					
					}
					.cta {
					
					}
				}
			}
		}

		.assetinfo {
			.meta {
				.date {
				}
				.source {
				
				}
			}
			.comments {
			}
			.annotations {
			}
			.pagecount {
			
			}
		}

		.pagination {
			.back {
			
			}
			.forward {
			
			}
			.page {
				.assetpreview {
				
				}
				.assetinfo {
					.comments {
					}
					.annotations {
					}
				}
			}
		}

		// The comment thread that shows under the card's main pieces
		.comments {
			.header {
			
			}
			.comment {
				//Indicates this comment has an annotation
				&.annotation {
				
				}
				.profilepic {

				}
				.body {
				
				}
				.username {
				
				}
			}

			// A comment on a comment/annotation
			.comment >.comment {
			
			}
		}

		.tags {
			.header {
			}
			.tag {
			
			}
		}
	}
}