extends layout

block head
	title login

block content
	h1 login
	form(method="post", action="login")
		div 
			label(for="username") username: 
			input(type="text", id="username", name="username")
		div 
			label(for="password") password: 
			input(type="password", id="password", name="password")
		input(type="submit")