/* line 2, ../sass/_global.scss */
.navbar {
  position: static !important;
  margin-bottom: 20px !important;
}

/* line 8, ../sass/_global.scss */
.cardlist {
  margin: 0;
  padding: 0;
}
/* line 11, ../sass/_global.scss */
.cardlist .card {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*********************************************************************************************
# UI-ELEMENTS
# Styling rules for individual UI Elements
*********************************************************************************************/
/* line 1, ../sass/_ui-card.scss */
.card {
  /** CATEGORY VIEW: Shown on the Dashboard of the service, NOT in a Board View **/
  /** SUMMARY VIEW: Shown in a Board View **/
}
/* line 3, ../sass/_ui-card.scss */
.card.topicview {
  display: inline-block;
  width: 230px;
  height: 235px;
  background-color: red;
}
/* line 17, ../sass/_ui-card.scss */
.card.topicview .assetvisual {
  width: 222px;
  height: 136px;
}
/* line 20, ../sass/_ui-card.scss */
.card.topicview .assetvisual img {
  width: 100%;
}
/* line 48, ../sass/_ui-card.scss */
.card.summaryview {
  width: 260px;
  height: auto;
  background-color: green;
}
/* line 61, ../sass/_ui-card.scss */
.card.summaryview .assetvisual {
  border: 2px solid grey;
}
/* line 70, ../sass/_ui-card.scss */
.card.summaryview .actions {
  background-color: rgba(0, 0, 0, 0.5);
  height: 60px;
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: -webkit-calc(100% - 20px);
}
/* line 81, ../sass/_ui-card.scss */
.card.summaryview .actions .action {
  width: 22%;
  height: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0px 2px 0px 2px;
  vertical-align: middle;
}
/* line 88, ../sass/_ui-card.scss */
.card.summaryview .actions .action span {
  color: #ffffff;
  font-size: 11px;
}
/* line 148, ../sass/_ui-card.scss */
.card.fullview {
  width: 920px;
  min-height: 790px;
  background-color: blue;
}
